body {
  font-family: Arial, sans-serif;
  background-color: #FFFAF4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.login {
  background-color: #EFEFEF;
  width: 90%;
  max-width: 400px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#btn-signup {
    background-color: white;
    color: black;
    border: 1px solid red;
    margin-bottom: 10px;
}

#btn-signup:hover {
  background-color: #45a049;
}

@media screen and (max-width: 480px) {
  .login {
    width: 100%;
    padding: 20px;
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #FFFAF4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.login {
  background-color: #EFEFEF;
  width: 90%;
  max-width: 400px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}

